@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 4em;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.scroll {
  position: absolute;
  height: 5px;
  width: 20px;
  bottom: 20px;
  left: 50px;
  background-color: #ffcc00;
  z-index: 1;
}

.scroll:before {
  content: "";
  height: 5px;
  width: 510px;
  background: rgba(255, 204, 0, 0.2509803922);
  z-index: 0;
  position: absolute;
}

.page {
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  color: #fff;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: #000;
  padding: 20px;
  font-size: 10px;
}

.sgnature {
  font-size: 10px;
  color: #8d8d8d;
  padding: 3px 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.head__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 95%;
  color: #fff;
  padding: 10px;
  z-index: 1;
}
.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.head__logo img {
  width: 130px;
}
.head__signature {
  font-size: 10px;
}

.page1 {
  background-image: url(../assets/tlo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.page1__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 5%;
}
.page1__lead {
  width: 50%;
}
.page1__slider img {
  width: 100%;
}

.page2 {
  background-color: #ede8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}
.page2__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 10%;
}
.page2__lead, .page2__title {
  width: 50%;
}
.page2__img {
  width: 40%;
  height: 108%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
}
.page2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page2:before {
  content: "";
  width: 80%;
  height: 70%;
  position: absolute;
  border: 15px solid #ffcc00;
  z-index: 2;
}

.page3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ede8e8;
}
.page3__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 10%;
}
.page3__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.page3 img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}
.page3 img:hover {
  scale: 1.1;
}
.page3__gallery {
  position: relative;
  display: grid;
  height: calc(50vh - 10px);
  grid-template: repeat(2, 1fr)/repeat(6, 1fr);
  grid-gap: 0.5em;
}
.page3 div:nth-child(3n+1) {
  grid-column: span 2;
  grid-row: span 2;
}
.page3__imgGall {
  position: relative;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
@media (max-width: 960px) {
  .page3__imgGall {
    height: 150px;
  }
}
.page3__imgGall:before {
  content: "";
  position: absolute;
  background: #ffcc00;
  background-image: url(../assets/Icon-search.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  width: 50px;
  height: 50px;
  z-index: 100;
  bottom: 0px;
  right: 0px;
}

.page4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ede8e8;
  /* Stylizacja aktywnej miniaturki */
}
.page4 img {
  width: 100%;
}
.page4__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 10%;
}
.page4__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page4__columnOne {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.page4__columnTwo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page4__gallery {
  width: 350px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page4__gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page4__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin-top: -45px;
}
.page5 {
  background-color: #ede8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}
.page5__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 10%;
  z-index: 1;
}
.page5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page5__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  z-index: 1;
}
.page5__imgBox {
  height: 350px;
}
.page5__imgBox .sgnature {
  text-align: right !important;
}
.page5__col1, .page5__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  gap: 20px;
}
.page5__col2 .page5__lead {
  margin-left: 65px !important;
  color: #fff;
}
.page5__btnRight {
  display: none;
}

.page5:before {
  content: "";
  width: 46%;
  height: 100vh;
  position: absolute;
  background: #000;
  z-index: 0;
  right: 0;
}

.btn__btnLeft {
  width: 128px;
  height: 62px;
  border: 0px;
  background: #ffcc00;
  position: absolute;
  top: 50%;
  left: 0px;
  cursor: pointer;
  z-index: 2;
}
.btn__btnLeft img {
  width: 18px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.btn__btnRight {
  width: 128px;
  height: 62px;
  border: 0px;
  background: #ffcc00;
  position: absolute;
  top: 50%;
  right: 0px;
  cursor: pointer;
  z-index: 2;
}
.btn__btnRight img {
  width: 18px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* styl dla okna modalnego */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(14, 14, 14, 0.93);
}

/* styl dla zdjęcia w oknie modalnym */
.modal-content {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
}

/* styl dla przycisku zamknięcia okna modalnego */
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* zmiana koloru przycisku zamknięcia po najechaniu na niego myszką */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}