$clr-light: #fff;
$clr-dark: #000;
$clr-bg: #1f0232;

$clr-col1: #ffcc00;
$clr-col2: #592c76;
$clr-col3: #ffb335;

$clr-gradien1: linear-gradient(
  6deg,
  rgba(59, 11, 92, 1) 0%,
  rgba(30, 2, 48, 1) 100%
);
