@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
$fontMain: "Montserrat", sans-serif;

$font-size-xs: 10px;
$font-size-s: 16px;
$font-size-m: 16px;
$font-size-l: 28px;
$font-size-xl: 42px;
$font-size-xxl: 62px;
