.page5 {
  background-color: #ede8e8;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__videoBox {
    height: 320px;

    @include tablet {
      height: 200px;
    }
  }

  &__column {
    display: flex;
    gap: 20px;
    z-index: 1;

    @include mobile {
      flex-direction: column;
    }
  }

  &__imgBox {
    height: 300px;
    margin-bottom: 10px;

    .sgnature {
      text-align: right !important;
      margin-bottom: 5px;
    }

    @include tablet {
      width: 320px;
      height: 200px;
    }
  }

  &__col1,
  &__col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;

    @include mobile {
      width: 100%;
    }
  }

  &__col2 & {
    &__lead {
      margin-left: 65px !important;
      color: #fff;

      @include tablet {
        margin-left: 0px !important;
      }
    }
  }

  &__btnRight {
    display: none;
  }
}

.page5:before {
  content: "";
  width: 46%;
  height: 100vh;
  position: absolute;
  background: $clr-dark;
  z-index: 0;
  right: 0;

  @include tablet {
    bottom: 0px;
    width: 100%;
    height: 50vh;
  }
}
