.page4 {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #ede8e8;

  img {
    width: 100%;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10%;
  }

  &__column {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__columnOne {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &__columnTwo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gallery {
    width: 350px;
    height: 500px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__thumbnail {
    display: flex;
    gap: 10px;
    cursor: pointer;
    margin-top: -45px;
  }

  /* Stylizacja aktywnej miniaturki */
  .active {
    // border-top: 5px solid $clr-col1;
  }
}
